* {
    box-sizing:  border-box;
}
.shopping-list li {
    gap: 5px;
    background-color:palegoldenrod;
    
}
.shopping-list li .item-name{
    flex:1;
  
}
.shopping-list li .delete-icon{
    transform: scale(0);
    transition: 200ms;
}
.shopping-list li:hover .delete-icon{
    transform: scale(1);
    
}
